html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px; /* Adjust to your navbar height */
}
/*==========================================
 PROJECT DETAILS
==========================================*/

#project_detail{
    width:100%;
    background:#fff;
    padding:50px 0;
}

/*==========================================
 HERO SLIDER
==========================================*/

.pd-slider{
    width:100%;
    position:relative;
    overflow:hidden;
}

.pd-slides{
    position:relative;
    width:100%;
    height:700px;
}

.pd-slide{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:opacity .8s ease;
}

.pd-slide.active{
    opacity:1;
    z-index:1;
}

/*==========================================
 HERO NAVIGATION
==========================================*/

/* Hero Slider */
.pd-slider{
    position:relative;
    overflow:hidden;
    border-radius:14px;
    border-radius: 0px;
    margin-top: 12px;
}

/* Previous & Next Buttons */
.pd-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    width:54px;
    height:54px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    color:#fff;
    font-size:22px;
    cursor:pointer;

    z-index:100;
    transition:.3s ease;
}
@media (max-width:768px){

    .pd-slider-nav{
        margin:20px 0 50px;
    }

    .pd-arrow{
        width:42px;
        height:42px;
        font-size:18px;
    }

    #pdPrevBtn{
        left:12px;
    }

    #pdNextBtn{
        right:12px;
    }

}
/* Left Arrow */
#pdPrevBtn{
    left:20px;
}

/* Right Arrow */
#pdNextBtn{
    right:20px;
}

/* Hover */
.pd-arrow:hover{
    background:#ee5149;
    transform:translateY(-50%) scale(1.08);
}

/* Dots Below Slider */
.pd-slider-nav{
    display:flex;
    justify-content:center;
    margin:25px 0 70px;
}

#pdDots{
    display:flex;
    gap:8px;
}

.pd-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#d6d6d6;
    cursor:pointer;
    transition:.3s ease;
}

.pd-dot.active{
    background:#ee5149;
    transform:scale(1.2);
}

/*==========================================
 PROJECT CONTENT
==========================================*/

.pd-content{

    max-width:1200px;
    margin:auto;
    text-align:center;

}

#pdTitle{

    font-size:42px;
    font-weight:300;
    line-height:1.3;

    color:#2f2f2f;

    text-transform:uppercase;

    margin-bottom:40px;

}

#pdDescription{

    font-size:16px;
    line-height:2;

    color:#666;

}

/*==========================================
 MAP
==========================================*/

.pd-map{

    max-width:1200px;
    margin:80px auto 0;
    text-align:center;

}

.pd-map h4{

    font-size:15px;
    font-weight:500;

    margin-bottom:25px;

    color:#444;

}

/* #pdMap{

    width:100%;
    height:520px;

    border:none;

} */
.pd-map{
    width:100%;
    display:flex;
    justify-content:center;
    margin:50px auto;
}

.Concept_image{
    width:90%;
    max-width:1200px;
    text-align:center;
}

.Concept_image h4{
    margin-bottom:20px;
}

.pd-concept-img{
    width:100%;
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto;
    border-radius:16px;
}

/*==========================================
 RELATED PROJECTS
==========================================*/
.section-heading{
    text-align:center;
}

.section-heading h2{
    margin: 0;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 0px;
    color: #2f2f2f;
}

.section-heading span{
    display:inline-block;
    width:50px;
    height:2px;
    background:#807f7f;
}
.related-projects{
    width:1200px;
    max-width:95%;
    margin:100px auto 0;
}

.related-slider{

    margin-top:50px;
    overflow:hidden;
    width:100%;
}

.related-track{

    display:flex;
    gap:30px;
    margin-top: 20px;
    transition:.5s ease;
    align-items:center;
    justy-content:center;
}

.related-card{

    min-width:calc((100% - 60px)/3);

    background:#fff;

    border:1px solid #ececec;

    border-radius:20px;
    text-decoration:none;

    color:inherit;

    transition:.35s ease;

    cursor:pointer;

}

.related-card:hover{

    transform:translateY(-8px);

    border-color:#ee5149;

}

.related-card.active-project{

    border:1px solid #ee5149;
    border-radius:20px;

}

.related-card img{

    width:100%;
    height:220px;
    padding:10px;
    border-radius:20px;
    object-fit:cover;

}

.related-content{
    padding:20px;
    text-align:center;
}

.related-content h3{

    font-size:20px;

    margin-bottom:12px;

    color:#2f2f2f;

}

.related-content p{

    font-size:14px;

    line-height:1.8;

    color:#666;

    margin-bottom:20px;

}

.related-content span{

    display:inline-block;

    color:#ee5149;
   border:1px solid #ee5149;
   padding:12px 26px;
    font-size:14px;
    border-radius:20px;
    font-weight:500;
    heigh:40px;
    width:190px;
    transition:.3s;
    align-items:center;
    justify-content:center;

}

.related-card:hover span{

    transform:translateX(5px);

}

/*==========================================
 RELATED NAVIGATION
==========================================*/

.related-nav{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:35px;

    margin-top:35px;

}

.related-nav button{

    border:none;

    background:none;

    color:#555;

    font-size:13px;

    cursor:pointer;

    transition:.3s;

}

.related-nav button:hover{

    color:#ee5149;

}

#relatedDots {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 7px !important;
}

#relatedDots .related-dot {
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    min-width: 10px !important;
    min-height: 10px !important;

    margin: 0 !important;
    padding: 0 !important;

    border: 0 !important;
    border-radius: 50% !important;

    background-color: #d4d4d4 !important;

    outline: none !important;
    box-shadow: none !important;

    appearance: none !important;
    -webkit-appearance: none !important;

    transform: none !important;
}

#relatedDots .related-dot.active {
    background-color: #ee5149 !important;
    border: 0 !important;
    transform: none !important;
}

/*==========================================
 RESPONSIVE
==========================================*/

@media(max-width:992px){

.pd-slides{

    height:520px;

}

#pdTitle{

    font-size:32px;

}

.related-card{

    min-width:calc((100% - 30px)/2);

}

}

@media(max-width:768px){

#project_detail{

    padding:0px 0;

}

.pd-slides{

    height:320px;

}

#pdTitle{

    font-size:26px;

}

#pdDescription{

    font-size:15px;
    padding: 10px;
    line-height:1.8;

}

.pd-slider-nav,
.related-nav{

    gap:20px;

}

.related-card{

    min-width:100%;

}

.related-card img{

    height:220px;

}

#pdMap{

    height:320px;

}

}

/* ===========================================
   Back To Top Button
=========================================== */

#backToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    border-radius: 50%;

    background: #ee5149;
    color: #ffffff;

    cursor: pointer;
    z-index: 9999;

    box-shadow: 0 10px 25px rgba(238, 81, 73, 0.35);

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition: all 0.35s ease;
}

#backToTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTop:hover{
    background: #d93d35;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(238, 81, 73, 0.45);
}

#backToTop:active{
    transform: scale(0.95);
}

#backToTop svg{
    width: 22px;
    height: 22px;
    stroke: #fff;
    transition: transform .3s ease;
}

#backToTop:hover svg{
    transform: translateY(-2px);
}

/* Mobile */
@media (max-width:768px){
    #backToTop{
        width:50px;
        height:50px;
        right:20px;
        bottom:20px;
    }
}

